<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CouponMapper">
	
	<!--表名 优惠券 -->
	<sql id="tableName">
		T_HLSD_COUPON
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		XH,	
		USERID,	
		COUPONNAME,
		COUPONTYPE,
		DISCOUNT,
		COUPONMONEY,
		EFFECTIVEDATE,
		COUPONSTATUS,
		CREATETIME,	
		CREATEUSER,	
		UPDATETIME,	
		UPDATEUSER
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{xh},	
		#{userId},	
		#{couponName},
		#{couponType},
		#{discount},
		#{couponMoney},
		#{effectiveDate},
		#{couponStatus},
		now(),	
		#{createUser},	
		#{updateTime},
		#{updateUser}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			XH = #{XH}
	</delete>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="String" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			XH = #{_parameter} 
	</select>
	
	<!-- 通过ID获取数据 -->
	<select id="findByUserId" parameterType="pd" resultType="pd">
		select 
			XH,
			COUPONNAME,
			COUPONTYPE,
			COUPONMONEY,
			date_format(EFFECTIVEDATE, '%Y-%m-%d %H:%i:%s') EFFECTIVEDATE
		from 
		<include refid="tableName"></include>
		WHERE 1 = 1 AND EFFECTIVEDATE > NOW()
		<if test="COUPONSTATUS!= null and COUPONSTATUS!= ''">
			and COUPONSTATUS = #{COUPONSTATUS} 
		</if>
		AND	USERID = #{USERID} OR  left(COUPONCITY,4) = left(#{COUPONCITY},4)
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.loginUser!= null and pd.loginUser!= ''"><!-- 登录用户筛选 -->
			and createUser = #{pd.loginUser} 
		</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					appName LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					userId LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					 or 
					balanceAccount LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		</if>
	</select>
	
	<!-- 更新优惠券为已使用 -->
	<update id="updateCoupon" parameterType="String">
		update
		<include refid="tableName"></include>
		set 
			COUPONSTATUS = '2'
		where  
		XH = #{_parameter} AND USERID IS NOT NULL AND COUPONSTATUS='1'
	</update>
	
	<!-- zhangWenchao -->
</mapper>